<!--
 * Copyright 1999-2023(c) MijnWinkel B.V. Noothoven van Goorstraat 11E, Gouda,
 * South Holland, NL-2806RA, The Netherlands All rights reserved.
 *
 * This software is the confidential and proprietary information of MijnWinkel
 * B.V. ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the license
 * agreement you entered into with MijnWinkel.
 *
 * @see https://myshop.atlassian.net/browse/MNR-104 - Hide zero prices
-->

<template>
  <div class="myshp-shpcart-container">
    <button class="hidden shpcart-action-reload-order-list" style="display:none" @click.stop="fetchData()">Load Shopping Cart</button>
    <button class="hidden myshp-action-refresh-order-list" style="display:none" @click.stop="fetchData()"/>
    <span class="fa fa-refresh fa-spin" v-show="processing == true"></span>
    <div class="myshp-toggle-cart-container"
      @mouseenter="showContents($event)"
      @mouseleave="hideContents($event)"
      v-show="processing == false">
      <div class="myshp-check-cart"  @click="onCartClick" v-show="showCount == '1'">
        <!-- basket.count_number -->
        <span class="myshp-basket-count" @click="onCartClick" >{{ itemsInCart }}</span>
      </div>
      <div class="myshp-toggle-cart" @click="onCartClick">
        <img v-if="icon" :src="icon" :width="iconWidth" :height="iconHeight" @click="onCartClick" class="myshp-img"/>
        <span v-else class="fa fa-shopping-cart myshp-icon" @click="onCartClick"></span>
      </div>
      <div class="myshp-toggle-cart-arrow">
        <span class="fa fa-caret-down"></span>
      </div>
    </div>

    <div class="myshp-cart-content-container"
      v-show="showCartContentContainer"
      @mouseenter="showContents($event)"
      @mouseleave="hideContents($event)"
      v-toggleCartView="{handler: 'showHideCartContent'}"
      :class="{ wait : processing }">
      <div class="seb_ctrol">

        <div class="myshp-checkout">
          <div class="group myshp-checkout-container">
            <!-- Begin left column -->
            <!-- <div class="left"> -->
              <div class="myshp-cart-block">
                <!-- Begin - Basket Empty -->
                <div class="myshp-empty" v-show="basket.count_number == '0'">
                    <span class="fs-3 fw-bold myshp-title" style="font-weight:bold;font-size:1.25rem;margin-bottom:0.5rem;" v-html="lblMsgs.empty"></span>
                  <p class="myshp-content"> </p>
                  <!--
                  <p class="myshp-content" v-html="lblMsgs.isempty"></p>
                  <p class="myshp-content" v-html="lblMsgs.isempty2"></p>
                  <p class="myshp-content" v-html="lblMsgs.isempty3"></p>
                  -->
                </div>
                <!-- End - Basket Empty -->

                <!-- Begin - Basket Has Products -->
                <div class="myshp-checkout-basket" v-show="basket.count_number != '0'">
                  <h3 v-html="lblMsgs.basket"></h3>
                  <!-- Begin - Basket Products -->
                  <div class="myshp-order-lines">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tbody>

                        <template v-for="(product, index) in basket.rows" v-if="showLine(product.price_line_total)">
                          <!-- v-show="showLine(product.price_line_total)" -->
                        <tr class="myshp-order-line">
                          <td class="myshp-product-image" v-show="showImage == '1'">
                            <img :src="decodeURI(product.product_image)" alt="" style="width: auto;"/>
                            <br>
                          </td>

                          <td class="myshp-product-id" v-show="showId == '1'">
                            <span v-html="product.id"></span>
                          </td>

                          <td colspan="2">
                            <span class="myshp-product-title" v-html="product.product_title"></span>
                            <p class="myshp-product-description"
                              v-show="showDescription == '1'"
                              v-html="product.description">
                            </p>
                          </td>

                          <td class="myshp-product-quantity">
                              <span v-show="showQuantity == '1'">
                                <span v-html="product.quantity"></span>
                              </span>
                              <span v-show="showUnits == '1' && showQuantity == '0'">stuks</span>
                          </td>

                          <td class="myshp-product-unitprice"
                            v-show="showPrice == '1'">
                            <span style="white-space:nowrap;"
                              v-if="showIncVat == '0'"
                              v-html="product.price_formatted">
                            </span>
                            <span style="white-space:nowrap;"
                              v-else
                              v-html="product.price_inc_vat_formatted">
                            </span>
                          </td>

                          <td class="myshp-product-linetotal"
                            v-show="showLineTotal == '1'">
                            <span style="white-space:nowrap;"
                              v-if="showIncVat == '0'"
                              v-html="product.price_line_total_formatted">
                            </span>
                            <span style="white-space:nowrap;"
                              v-else
                              v-html="product.inc_vat_price_line_total_formatted">
                            </span>
                          </td>

                          <td class="myshp-product-action-controls" v-show="showActionChange == '1'">
                            <a href="#" class="btn btn-primary myshp-btn-change" data-role="button" onclick="return">
                              <span class="fa fa-pencil"></span>
                            </a>
                          </td>

                          <td class="myshp-product-action-controls" v-show="showActionChangeMoreinfo == '1'">
                            <a href="#" class="btn btn-primary myshp-btn-change-more-info" data-role="button" onclick="return">
                              <span class="fa fa-pencil"></span>
                            </a>
                          </td>

                          <td class="myshp-product-action-controls" v-show="showActionRemove == '1'">
                            <span :id="'idmyshopremove' + index" style="display:none;">
                              <template v-html="product.description"></template>
                            </span>
                            <a href="#"
                              class="myshp-btn-remove"
                              data-role="button"
                              data-icon="delete"
                              data-iconpos="notext"
                              data-inline="true"
                              @click="removeProduct(index+1)"> <!-- class="myshp_button_delete" -->
                              <span class="fa fa-remove"></span>
                            </a>
                          </td>
                        </tr>
                      </template>

                        <!-- Emtpy tr is for not collapsing dotted border as line of class(myshp-order-line-feature-shipping) -->
                        <tr></tr>

                        <template v-if="showSubtotalOnly != '1'">
                        <tr class="myshp-order-line-feature myshp-order-line-feature-shipping">
                          <td></td>
                          <td><strong class="myshp-shipping-label" v-html="lblMsgs['shippingcost']"></strong></td>
                          <td colspan="4" class="myshp-shipping-value">
                            <span
                              v-if="showIncVat == '0'"
                              v-html="basket.price_shipping_formatted">
                            </span>
                            <span
                              v-else
                              v-html="basket.inc_vat_price_shipping_formatted">
                            </span>
                          </td>
                          <td></td>
                        </tr>

                        <tr class="myshp-order-line-feature" v-for="action in basket.actions">
                          <td></td>
                          <td><strong class="myshp-action-label" v-html="action.description"></strong></td>
                          <td colspan="4" class="myshp-action-value">
                            <span
                              v-if="showIncVat == '0'"
                              v-html="action.price_formatted">
                            </span>
                            <span
                              v-else
                              v-html="action.inc_vat_price_formatted">
                            </span>
                          </td>
                          <td></td>
                        </tr>
                        </template>

                        <tr class="myshp-order-line-feature myshp-order-line-feature-shipping"
                          v-if="showSubtotalOnly == '1'">
                          <td></td>
                          <td>
                            <strong class="myshp-total-label" v-html="lblMsgs.subtot"></strong>
                          </td>
                          <td colspan="4" class="myshp-total-value">
                            <span
                              v-if="showIncVat == '0'"
                              v-html="basket.price_subtotal_formatted">
                            </span>
                            <span
                              v-else
                              v-html="basket.inc_vat_price_subtotal_formatted">
                            </span>
                          </td>
                          <td></td>
                        </tr>

                        <tr class="myshp-cart-total">
                          <td></td>
                          <td class="myshp-total-label">
                            <strong v-html="lblMsgs.total"></strong>
                          </td>
                          <td colspan="4" class="myshp-total-value">
                            <span style="white-space:nowrap;"
                              v-if="showIncVat == '0'"
                              v-html="basket.price_total_formatted">
                            </span>
                            <span style="white-space:nowrap;"
                              v-else
                              v-html="basket.inc_vat_price_total_formatted">
                            </span>
                          </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td colspan="77">
                            <div class="group">
                              <div class="myshp-control-buttons">
                                <div class="left" v-show="showMakeQuotation == '1'"><!-- OFFERTE MAKEN -->
                                  <a target="_parent" class="myshp-make-quotation" href="/checkout/address1/?r=5&q=1">{{labelQuotation}}</a>
                                </div>
                                <div class="right" v-show="showToCheckout == '1'"><!-- DIRECT BESTELLEN -->
                                  <a target="_parent" class="myshp-direct-order" href="/checkout/address1/?r=5&q=0">{{labelOrder}}</a>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- End - Basket Has Products  -->
              </div>
            <!-- </div>  -->
            <!-- End left column -->
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { MyShopClient } from 'myshop'
import { EventBus } from '../event-bus';


// the button where cart should be linked with
let shoppingCartBtn = document.querySelector(".app-myshop-shoppingcart-onhover")
let handleCartLoading

export default {
  name: 'shoppingcart',
  directives: {
    toggleCartView : {
      bind (el, binding, vnode) {
        handleCartLoading = (e) => {
        const handler = binding.value.handler
        // detect whether the cart should be shown as a menu from parent div
        let showAsMenu = parseInt(
            MyShopClient.getDataAttribute(
              'app-myshop-shoppingcart-parent',
              'show-as-menu'
              )
          )
          e.stopPropagation()
          //console.log('Cart linked with menu ' + showAsMenu)
          if (showAsMenu) {
            vnode.context[handler]()
          }
        }
        if (shoppingCartBtn) {
          // add mouseneter/mouseleave events on targetclass
          shoppingCartBtn.addEventListener('mouseenter', handleCartLoading)
          shoppingCartBtn.addEventListener('mouseleave', handleCartLoading)
        }
      },
      unbind () {
        if (shoppingCartBtn) {
          // If the element that has toggleCartView is removed, remove the listeners as well
          shoppingCartBtn.removeEventListener('mouseenter', handleCartLoading)
          shoppingCartBtn.removeEventListener('mouseleave', handleCartLoading)

        }
      }
    }
  },

  data () {
    return {
      showCartContentContainer: false,

      vid: '',
      processing:false,
      basket:{
        "count_number": "0",
        "rows":[],
        "storage":[]
      },

      showId:"0",
      showDescription:"0",
      showQuantity:"0",
      showPrice:"0",
      hideOnZero:"0",
      showLineTotal:"0",
      showUnits:"0",
      showActionChange:"0",
      showActionRemove:"0",
      showActionChangeMoreinfo:"0",
      showMakeQuotation:"0",
      showToCheckout:"1",
      icon:"",
      iconWidth:"24",
      iconHeight:"24",
      onclick:"",
      showCount:"0",
      showIncVat:"0",
      showSubtotalOnly:"0",
      showImage:"0",
      showAsMenu:"0",
      itemCount:0,

      lblMsgs:{
      
        'mijnwebshop.isempty':"Je winkelwagen is nog leeg. Ga terug naar de winkel om producten te bestellen",
        'mijnwebshop.isempty2':"Als je al producten had toegevoegd, kan de reden hiervoor zijn dat je sessie verlopen is",
        'mijnwebshop.isempty3':"Dit gebeurt 60 minuten na de laatste wijziging of wanneer je je browser tussendoor afsluit",
        
        'isempty':"Uw winkelwagen is nog leeg. Ga terug naar de winkel om producten te bestellen",
        'isempty2':"Als u al producten had toegevoegd, kan de reden hiervoor zijn dat uw sessie verlopen is",
        'isempty3':"Dit gebeurt 60 minuten na de laatste wijziging of wanneer u uw browser tussendoor afsluit",
        'basket':"Winkelwagen",
        'empty':"winkelwagen is leeg",
        'shippingcost': "Verzendkosten",
        'subtot':"Subtotaal",
        'total': "Totaal",
        'order': "DIRECT BESTELLEN",
        'quotation': "OFFERTE MAKEN"
      }
    }
  },
  computed: {
    labelOrder() {
      return 'Bestel' === this.lblMsgs.order ? "DIRECT BESTELLEN" : this.lblMsgs.order
    },
    labelQuotation() {
      return 'offerte' === this.lblMsgs.quotation ? "OFFERTE MAKEN" : this.lblMsgs.quotation
    },
    itemsInCart(){
      let count = 0;
      if('1' === this.hideOnZero){
        //console.log("hide on zero");
        let size = this.basket.rows.length;
        for (let index=0; index < size; index++) {
        let row=this.basket.rows[index];
          //console.log(index,row.price_line_total,"number",Number(row.price_line_total),"qunatity",row.quantity);
          if(0!=Number(row.price_line_total)){
            //console.log("adding",Number(row.quantity));
            count+=Number(row.quantity);
  				}
        }
      }
      else count = this.basket.count_number;

      if(true)window.setTimeout(function(){
        this.itemCount = count;

        if(self.$){
          //console.log("Use jquery",count);
          $('.app-myshop-shoppingcart-count').html(count);
          $('.myshp_menu_basket_count').html(count);
          if($)$('.myshp_menu_basket_count').removeClass("hide");
        }
        else{
          let el = document.querySelector('.myshp_menu_basket_count')
          if (el) {
            //console.log("Direct update",count);
            el.innerHTML = count;

          }
        }
      },200);


      return count;
    }

  },
  watch: {
    'itemCount': function(val) {
      //console.log("Update the counter",val);
      if(self.$){
        $('.app-myshop-shoppingcart-count').html(val);
        $('.myshp_menu_basket_count').html(val);
      }
      else{
        let el = document.querySelector('.app-myshop-shoppingcart-count')
        if (el) {
          el.innerHTML = val;
        }
        el = document.getElementById('basket_value_count')
        if (el) {
          el.innerHTML = val;
        }
      }
    }
  },
  created (){
    EventBus.$on('update', (data) => {
      //console.log("Update *****************************");

      try{
        this.fetchData();
      }catch(err) {}
    })
  },
  beforeMount(){
    if('localhost' == window.location.hostname){
      this.vid="5742100"
    }
    else{
      try{
        this.vid=MyShopClient.getShopId();
      }
      catch(e){}
    }
    if(null == this.vid) this.vid="";

    /* Get Client Settings for Visibility of elements */
    var parentDiv = 'app-myshop-shoppingcart-parent'
    this.showId = MyShopClient.getDataAttribute(parentDiv, 'show-id')
    this.showDescription = MyShopClient.getDataAttribute(parentDiv, 'show-description')
    this.showQuantity = MyShopClient.getDataAttribute(parentDiv, 'show-quantity')
    this.showPrice = MyShopClient.getDataAttribute(parentDiv, 'show-price')
    this.hideOnZero = MyShopClient.getDataAttribute(parentDiv, 'hide-on-zero')
    this.showLineTotal = MyShopClient.getDataAttribute(parentDiv, 'show-line-total')
    this.showUnits = MyShopClient.getDataAttribute(parentDiv, 'show-units')
    this.showActionChange = MyShopClient.getDataAttribute(parentDiv, 'show-action-change')
    this.showActionRemove = MyShopClient.getDataAttribute(parentDiv, 'show-action-remove')
    this.showActionChangeMoreinfo = MyShopClient.getDataAttribute(parentDiv, 'show-action-change-moreinfo')
    this.showMakeQuotation = MyShopClient.getDataAttribute(parentDiv, 'show-make-quotation')

    this.showToCheckout = MyShopClient.getDataAttribute(parentDiv, 'show-to-checkout')
    this.showToCheckout = (this.showToCheckout == "") ? "1" : this.showToCheckout

    this.icon = MyShopClient.getDataAttribute(parentDiv, 'icon')
    this.iconWidth = MyShopClient.getDataAttribute(parentDiv, 'icon-width')
    this.iconHeight = MyShopClient.getDataAttribute(parentDiv, 'icon-height')
    this.onclick = MyShopClient.getDataAttribute(parentDiv, 'onclick')
    this.showCount = MyShopClient.getDataAttribute(parentDiv, 'show-count')
    this.showIncVat = MyShopClient.getDataAttribute(parentDiv, 'show-inc-vat')
    this.showSubtotalOnly = MyShopClient.getDataAttribute(parentDiv, 'show-subtotal-only')

    this.showImage = MyShopClient.getDataAttribute(parentDiv, 'show-image')
    this.showImage = (this.showImage == "") ? "0" : this.showImage
    this.showAsMenu = MyShopClient.getDataAttribute(parentDiv, 'show-as-menu')

  },
  mounted(){
    if(self.$){
      $('.myshp_menu_basket_count').addClass("hide");
    }
    this.$nextTick(function () {
      this.assignTextResources();
    })
  },
  methods:{
    showHideCartContent() {
      this.showCartContentContainer = !this.showCartContentContainer;
    },
    showLine(price){
      let show = true

      //console.log("hide",this.hideOnZero,"price",price,"number",Number(price));

      if('1' === this.hideOnZero){
        show = (0 !== Number(price))
      }
      return show
    },
    onCartClick(){

      //console.log("On click action",this.onclick);

      switch(this.onclick){
        case "0": break
        case "1":
          window.location = "/checkout/basket1"
          break
        case "2":
          window.location = "/checkout/address1?r=5&q=0"
          break
      }
    },
    showContents(event){
      this.showCartContentContainer = true
    },
    hideContents(event){
      this.showCartContentContainer = false
    },
	assignTextResources(){
		var _self = this

		let lang="nl";
		if(self.$){
			  lang=$("[name=_lang]").val();
		}
		else{
			  let el=document.getElementsByName("_lang");
			  if(el && el.length>0){
			    lang=el[0].value;
			  }
		}
			
		if("en"==lang){
			let msg=_self.lblMsgs;
			msg.isempty="The shopping cart is empty, go back to the webshop to order products."
			msg.isempty2=""
			msg.isempty3="The shopping cart is automatically cleared after 60 minutes."
			msg.basket="Shopping cart"
			msg.empty="the shopping cart is empty"
			msg.shippingcost="Shipping costs"
			msg.subtot="Subtotal"
			msg.total="Total"
			msg.order="ORDER DIRECT"
			msg.quotation="MAKE QUOTATION"
		}

		myshop().resources(function(ref){
	    	var keys = Object.keys(_self.lblMsgs)
	    	keys.forEach(function(record){
	      		var tmp = ref.getResource("orderpages", record)
	      		_self.lblMsgs[record] = (tmp == null || tmp == '') ? _self.lblMsgs[record] : tmp
	    	})
	  	})

      this.fetchData()
    },
    fetchData(){
      var _self = this

      /* Get Cart Details */
      if(this.vid != null)
      {
        var xhttp = new XMLHttpRequest()
        this.processing = true
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {

            _self.basket = JSON.parse(this.responseText)

            /* Comment following line before uploading to the production */
            // _self.basket = {
            //   count:"bevat 1 product",
            //   count_number:"1",
            //   inc_vat_price_shipping_formatted:"&euro; 10,60",
            //   inc_vat_price_subtotal_formatted:"&euro; 3.845,38",
            //   inc_vat_price_total_formatted:"&euro; 3.855,98",
            //   location:"https://relatiegeschenk.mijnwinkel.nl/checkout/basket1",
            //   price_subtotal_formatted:"&euro; 3.178,00",
            //   price_total_formatted:"&euro; 3.188,00",
            //   product_count_number_unique:"1",
            //   "rows":
            //   [{
            //     description:"<br/>Artiekelnummer&#58; 6<br/>Aantal&#58; 800<br/>Kleur&#58; Geel<br/>Uitvoering&#58; Type 1   &#8364; 0&#44;06<br/>Bedrukking&#58; Rechts<br/>Levertijd&#58; 1 Week&#40;s&#41; 3 Day&#40;s&#41;<br/>All-in prijs per product&#58; &#8364; 3&#44;91<br/>Setup kosten&#58; &#8364; 50&#44;00<br/>Verzendkosten&#58; &#8364; 0&#44;00<br/>All-in prijs&#58; &#8364; 3.178&#44;00",
            //     id:"6",
            //     inc_vat_price_line_total_formatted:"&euro; 3.845,38",
            //     lid:"-76CD1466132CD8D33444922C9E8D2753D2D2F508",
            //     price_formatted:"&euro; 3.178,00",
            //     price_inc_vat_formatted:"&euro; 3.845,38",
            //     price_line_total_formatted:"&euro; 3.178,00",
            //     product_image:"https://plugin.myshop.com/images/shop5865700.pictures.208602069.jpg",
            //     product_title:"Elky",
            //     quantity:"1",
            //     units:"1",
            //     vat:"21"
            //   }]
            //   ,"actions":
            //     [{
            //     "inc_vat_price_formatted":"&euro; 14,00",
            //     "description":"Instelkosten"
            //     }]
            //   ,"storage":
            //     [{"s":""}]
            // }


            _self.processing = false
            _self.itemCount = _self.basket.count_number
          }
        }

        /* URL for local machine */
        var strGetURL = "https://edit.myshop.com/rpc/?type=shoppingcart_json&vid="+this.vid
        /* URL for production shop */
        if(window.location.hostname != 'localhost')
        {
          var loc = $("[name=url_rpc]").val()
          if(null == loc){
            loc = "/rpc/";
          }
          if(null != loc)
            strGetURL = loc+"?type=shoppingcart_json";
        }

        xhttp.open("GET", strGetURL, true)
        xhttp.send()
      }
      else{
        alert("Unable to find Shop ID.")
      }
      return false;
    },
    removeProduct(position){
      var _self = this
      _self.processing = true
      $('html,body,a').css('cursor','progress')

      var xhttp = new XMLHttpRequest()
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          _self.processing = false
          //_self.fetchData()
          // broad cast the change.
          $(".myshp-action-refresh-order-list").click();

          $('html,body').css('cursor','default')
          $('a').css('cursor','pointer')
        }
        else{
          _self.processing = false
          //console.log(this.status)
          $('html,body').css('cursor','default')
          $('a').css('cursor','pointer')
        }
      }

      xhttp.open("GET", "/checkout/basket?a=remove&id="+position+"&vid="+this.vid, true)
      xhttp.send()
    }
  }
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .cos- or some classes are used for specific promofit client */
div{
  line-height: normal;
}
.myshp-shpcart-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 101;
}

.myshp-shpcart-container .wait,
.myshp-shpcart-container .wait a {
  cursor: wait;
}

.myshp-shpcart-container .myshp-toggle-cart-container {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.myshp-shpcart-container .myshp-check-cart{
  /*margin-left: 15px;*/
  /*display: none;*/
}
.myshp-shpcart-container .myshp-basket-count{
  position: absolute;
  z-index: 200;
  left: 9px;
  top: 7px;
  background: green;
  padding: 2px 5px;
  color:white;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 50%;
  /* Firefox 1-3.6 */
  -moz-border-radius: 50%;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%;
  font-size: 0.8em;
}
.myshp-shpcart-container .myshp-toggle-cart {
  width: 28px;
  height: 30px;
  background-size: 28px 30px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.myshp-shpcart-container .myshp-toggle-cart span{
  font-size: 2.2em;
}
.myshp-shpcart-container .myshp-toggle-cart-arrow {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: green;
}
.myshp-shpcart-container .myshp-cart-content-container {
  position: absolute;
  right: -12px;
  top: 30px;
  width: 550px;
  border: 1px solid #d5d5d5;
  padding: 10px 15px;
  background: #ffffff;
  cursor: default;
}

.myshp-shpcart-container .myshp-checkout{

}
.myshp-shpcart-container .myshp-checkout-container{

}
.myshp-shpcart-container .myshp-cart-block{

}
.myshp-shpcart-container .myshp-checkout-basket{

}
.myshp-shpcart-container .myshp-order-lines{

}
.myshp-shpcart-container .myshp-order-lines img {
  float: left;
  width: 100%!important;
  height: auto!important;
  max-width: 100%!important;
  max-height: 100%!important;
  border: 1px solid #dcdcdc;
}

.myshp-shpcart-container .myshp-order-lines table tr td {
  vertical-align: top;
  padding: 13px 13px 13px 0;
}

.myshp-shpcart-container .myshp-order-lines table tr.myshp-order-line-feature td{
  padding-top: 0.5em !important;
  padding-bottom: 0;
  padding-right: 0;
}
/*.myshp-shpcart-container .myshp-order-lines table tr:nth-last-child(4){*/
.myshp-shpcart-container .myshp-order-lines table tr.myshp-order-line-feature-shipping{
  border-top: 1px dotted #d5d5d5;
}

.myshp-shpcart-container tr.myshp-order-line{

}
.myshp-shpcart-container tr.myshp-order-line td.myshp-product-image{
  width: 100px!important;
}
.myshp-shpcart-container tr.myshp-order-line td.myshp-product-id{

}
.myshp-shpcart-container tr.myshp-order-line .myshp-product-title{
  font-weight: bold;
  color: green;
  font-size: 1.1em;

  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  width: 200px;
  float: left!important;
  white-space: nowrap;
}

.myshp-shpcart-container .fa-remove{
  color: red;
}

.myshp-shpcart-container tr.myshp-cart-total{
  font-size: 1.5em;
}
.myshp-shpcart-container tr.myshp-cart-total td.myshp-total-label{

}
.myshp-shpcart-container td.myshp-total-value{
  text-align: right;
}
.myshp-shpcart-container tr.myshp-cart-total td.myshp-total-value{
  padding: 13px 0;
}

.myshp-shpcart-container .myshp_control_buttons .left,
.myshp-shpcart-container .myshp_control_buttons .right,
.myshp-shpcart-container .myshp-control-buttons .left,
.myshp-shpcart-container .myshp-control-buttons .right{
  float: left;
  width: 50%;
}
.myshp-shpcart-container .myshp-control-buttons a{
  float: left;
  width: 98%;
  text-align: center;
  background: #f5f5f5;
  color: #777777;
  padding: 10px 0 !important;
  font-weight: bold;
}
.myshp-shpcart-container .myshp-control-buttons .left a{
  background: green;
  color:#ffffff;
}
.myshp-shpcart-container .myshp-control-buttons .right a{

}

.myshp-shpcart-container .myshp-shipping-value,
.myshp-shpcart-container .myshp-action-value{
  text-align: right;
  padding-right: 0 !important;
}

.myshp-shpcart-container .fa-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  font-size: 2.5em;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
</style>
