<template>
  <div id="app-myshop-shoppingcart">
    <ShoppingCart/>
  </div>
</template>

<script>
import ShoppingCart from './components/ShoppingCart'

export default {
  name: 'App',
  components: {
    ShoppingCart
  }
}
</script>

<style>
#app-myshop-shoppingcart{
	float: right;
}
</style>
